include *.md
recursive-include terra_accounts *.md
recursive-include terra_accounts *.mo
recursive-include terra_accounts *.py
recursive-include terra_accounts/static *
recursive-include terra_accounts/templates *
recursive-exclude test_terra_accounts *
recursive-exclude terra_accounts/tests/ *
include terra_accounts/tests/factories.py
include terra_accounts/tests/__init__.py
